{% assign post_url = page.url | absolute_url %}
{% assign post_title = page.title | uri_escape %}
{% assign encoded_url = post_url | uri_escape %}

<div id="share-bar">
    Share this:

    <div class="share-buttons">
        <a class="share-button share-button-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ encoded_url }}" title="Share on Facebook" target="_blank" rel="noopener noreferrer">Facebook</a>
        <a class="share-button share-button-twitter" href="https://twitter.com/intent/tweet?text={{ post_title }}&amp;url={{ encoded_url }}" title="Share on Twitter" target="_blank" rel="noopener noreferrer">Twitter</a>
        <a class="share-button share-button-reddit" href="https://www.reddit.com/submit?url={{ encoded_url }}" title="Share on Reddit" target="_blank" rel="noopener noreferrer">Reddit</a>
        <a class="share-button share-button-linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ encoded_url }}" title="Share on LinkedIn" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a class="share-button share-button-email" href="mailto:?subject={{ post_title }}&amp;body=Check out this site {{ encoded_url }}" title="Share via Email">Email</a>
    </div>
</div>
